# Database
# Ganti <username>, <password>, dan <cluster-url> dengan kredensial MongoDB Atlas Anda saat di production.
MONGODB_URI=mongodb://127.0.0.1:27017/bumdesmart
# Contoh Production: MONGODB_URI=mongodb+srv://admin:pass123@cluster0.mongodb.net/bumdesmart?retryWrites=true&w=majority

# App Config
# Gunakan URL lokal saat development, dan domain asli saat di Vercel (contoh: https://bumdesmart.id)
NEXT_PUBLIC_APP_URL=http://localhost:3040

# Auth/JWT Secret
# SANGAT PENTING: Gunakan string acak yang panjang (min 32 karakter) untuk production!
# Anda bisa men-generate dengan perintah: `openssl rand -base64 32`
JWT_SECRET=super_secret_key_for_bumdesmart_development

# Environment Mode
# Set ke "production" jika Anda mendeploy secara online agar cookie aman (Secure: true).
NODE_ENV=development
